
@{
    Layout = null;
}

<div class="modal fade" id="AddColourMaster" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Colour </h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group" hidden>
                        <label>Colour Id,</label>
                        <input type="text" class="form-control" id="ColourId," placeholder="Colour Id,">
                    </div>
                    <div class="form-group">
                        <label> Colour Name</label>
                        <input type="text" class="form-control" id="ColourName" placeholder="Colour Name">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnAdd">Submit</button>
            </div>
        </div>

    </div>
</div>



